
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登陆</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<style>
		body {
			width: auto;
			height: auto;
			margin: 0px auto;
			padding: 0px;
			background: url('../../Resource/back1.jpg') repeat;
		}

		h2 {
			text-align: center;
		}

		.form {
			padding-top: 10px;
			padding-left: 15px;
			padding-right: 15px;
			width: 700px;
			height: 350px;
			margin: 180px auto;
			background-color: white;
			border-radius: 10px;
			border: 1px solid #4c9797;
		}

		.form-group {
			width: 300px;
			margin: 15px auto;
		}

		#submit_id {
			margin-top: 30px;
		}

		.to_register {
			margin-top: 35px;
			float: right;
		}

		span {
			height: 30px;
			width: 300px;
			border: 1px solid white;
			color: red;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#submit_id").click(function () {
				var spans = document.getElementsByTagName("span");
				for (var i = 0; i < spans.length; i++) {
					spans[i].innerText = "";
				}
				var validnumber = 20;
				var usernumber = $("#user_number").val();
				var password = $("#password").val();
				if (usernumber == "") {
					$("#userspan").text("用户名不能为空");
					validnumber = validnumber - 1;
				}
				if (password == "") {
					$("#passspan").text("密码不能为空");
					validnumber = validnumber - 1;
				}
				if (/^[0-9]{10}/.test(usernumber) != true) {
					$("#userspan").text("用户名不合法");
					validnumber = validnumber - 1;
				}

				if (validnumber == 20) {
					$.ajax({
						url: "/Login/LoginAction",
						data: {
							"userNumber": usernumber,
							"password": password,
						},
						type: "POST",
						dataType: "Json",
						success: function (data) {
							if (data == "用户不存在")
								alert("用户不存在，请先注册！");
							if (data == "密码错误") {
								alert("密码错误，请重新输入");
							}
							if (data == "登录正确") {
								alert("登陆成功！");
								window.location.href = "/Index/Index";
							}
						},
						error: function () {
							alert("未知错误");
							// todo
						}
					})
				}
			})
		});
	</script>

</head>
<body>
	<div class="form">
		<h2>登陆</h2>
		<div class="form-group">
			<span id="userspan"></span><input type="text" class="form-control" id="user_number" placeholder="学号/工号（10位数字）" />
			<span id="passspan"></span><input type="password" class="form-control" id="password" placeholder="密码（6-16位字符，区分大小写）" />
			<button id="submit_id" class="btn btn-default">登录</button>
			<a href="/Register/RegisterIndex" class="to_register">还没账号？现在注册</a>
		</div>

	</div>
</body>
</html>
