
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统后台</title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap.js"></script>
	
	<style>
		html,body{
			padding:0px;
			margin:0px;
			width:100%;
			min-width:1000px;
			height:100%;
			background:#3D464D;
		}
		header{
			width:100%;
			margin:0px auto;
			height:60px;
			background:#0094ff;
			color:white;
			overflow:hidden;
		}
		header .main-title{
			margin-left:20px;
			line-height: 60px;
			font-size: 20px;
			text-indent: 2em;
		}
		header .admin-area{
			float:right;
		}
		header .admin-area img{
			float:left;
			border-radius:20px;
			width:40px;
			margin-top:10px;
		}
		header .user-name {
			float: left;
			line-height: 60px;
			width:110px;
			padding-left:5px;
			overflow:hidden;
		}
		.left {
			float: left;
			width: 200px;
			background: #3D464D;
			color: #ADAFB2;
		}
		.left ul{
			margin:0px;
			padding:0px;
			padding-top:20px;
		}
		.left li{
			list-style:none;
			height:40px;
			text-align:center;
			font-size:16px;
			line-height:40px;
		}
		.left a {
			text-decoration: none;
			color:white;
		}
		article {
			margin-top: 20px;
			overflow: hidden;
		}
		article iframe{
			width:100%;
			background:#fff;
		}
		.li-tab{
			display:block;
		}
		.li-tab:hover {
			background: #4682B4;
			color:white;
		}
		.hov{
			background:red;
		}

	</style>
	<script>

		function changeFrameHeight() {
			//var ifm = document.getElementById("myiframe");
			var ifms = document.getElementsByTagName("iframe");
			for (var i = 0; i < ifms.length; i++) {
				ifms[i].height = document.documentElement.clientHeight - 90;
			}
		}
		window.onresize = function () {
			changeFrameHeight();
		}

		$(document).ready(function () {
			setTabListStyle();
		})

		function setTabListStyle() {
			$(".li-tab").click(function () {
				// Todo
			})
		}
	</script>
</head>
<body>
    <header>
		<!--顶部-->
		<span class="main-title">
			天津农学院校园论坛后台管理系统
		</span>
		<div class="admin-area">
			<img src="~/Resource/head.jpg"/>
			<div class="user-name">没有·神的过往</div>
		</div>
	</header>
	<div class="left">
		<ul>
			<li><b>后台管理</b></li>
			<li><a href="#community" class="li-tab" data-toggle="tab">社区管理</a></li>
			<li><a href="#post" class="li-tab" data-toggle="tab">帖子管理</a></li>
			<li><a href="#reply" class="li-tab" data-toggle="tab">回复管理</a></li>
			<li><a href="#user" class="li-tab" data-toggle="tab">用户管理</a></li>
			<li><b>日志</b></li>
		</ul>
	</div>
	<article class="tab-content">
		<div role="tabpanel" class="tab-pane active">
			<iframe id="myiframe" onload="changeFrameHeight()" style="padding:1px;" frameborder="0" scrolling="yes" src="/BackSystem/WelcomePage"></iframe>
		</div>
		<div role="tabpanel" class="tab-pane" id="community">
			<iframe id="myiframe" onload="changeFrameHeight()" style="padding:0px;" frameborder="0" scrolling="yes" src="/BackSystem/CommunityManage"></iframe>
		</div>
		<div role="tabpanel" class="tab-pane" id="post">
			<iframe id="myiframe" onload="changeFrameHeight()" style="padding:1px;" frameborder="0" scrolling="yes" src="/BackSystem/PostManage"></iframe>
		</div>
		<div role="tabpanel" class="tab-pane" id="reply">
			<iframe id="myiframe" onload="changeFrameHeight()" style="padding:1px;" frameborder="0" scrolling="yes" src="/BackSystem/ReplyManage"></iframe>
		</div>
		<div role="tabpanel" class="tab-pane" id="user">
			<iframe id="myiframe" onload="changeFrameHeight()" style="padding:1px;" frameborder="0" scrolling="yes" src="/BackSystem/UserManage"></iframe>
		</div>
	</article>
</body>
</html>
