
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReplyManage</title>
</head>
<body>
    <div>
		回复管理页面
    </div>
</body>
</html>
